.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b6bb6;
  height: 100%;
  padding: 0 2rem;
  width: 100%;
}

.splash-icon {
  width: 100%;
  height: auto;
  max-width: 200px;
}

html {
  background-color: #0b6bb6;
}
